@model MvcCv.Models.Entity.TBLSERTIFIKA
@{
    ViewBag.Title = "SertifikaGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<br />
<h2>Sertifika Güncelleme Sayfası</h2>

<form method="post">


    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Sertifika Açıklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Sertifika Link")
    @Html.TextBoxFor(x => x.SertikaLink, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>


